.PdfWhite_label.rnr-s-empty > .rnr-c
{
background:none;

}
.PdfWhite_label.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-menu > .rnr-c
{
border: solid #C2C2C2 1px;
}
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #E8E8E8;
}
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-hmenu > .rnr-c
{
background:none;

}
.PdfWhite_label.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-undermenu > .rnr-c
{
border: solid #D7D7D7 1px;
}
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #004080;color: #353535;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #004080;
}
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.PdfWhite_label.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F1F1F1;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #F1F1F1;
}
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #E8E8E8;color: #353535;
font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #EAEAEA;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 2px;
}
.PdfWhite_label.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 6px;
}
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #E8E8E8;
}
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #3366FF;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.PdfWhite_label.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #E8E8E8;color: #6F6F6F;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-2 > .rnr-c.rnr-ch
{
background-image: none; background-color: #E8E8E8;
}
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 4px;
}
.PdfWhite_label.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style1,
.PdfWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #6699CC;
}
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style2,
.PdfWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style3,
.PdfWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.PdfWhite_label.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PdfWhite_label.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.PdfWhite_label.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #F2F2F2; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #6F6F6F;padding: 8px 7px;
}
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #004080; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFF00;padding: 6px 7px;
}
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #6F6F6F;color: #6F6F6F;padding: 6px 7px;
}
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #E8E8E8; background-image: none;color: #6F6F6F;
}
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #A9A9A9; background-image: none;color: #6F6F6F;
}
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.PdfWhite_label.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.PdfWhite_label.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C2C2C2; background-image: none;color: #6F6F6F;
}
.PdfWhite_label .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > *,
.PdfWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > hr,
.PdfWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#353535;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.PdfWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > *.current.current.current,
.PdfWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > ul li,
.PdfWhite_label .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > ul li > hr,
.PdfWhite_label .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#353535;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.PdfWhite_label .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.PdfWhite_label .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfWhite_label .rnr-b-vmenu.simple.second > *,
.PdfWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > hr,
.PdfWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#353535;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.PdfWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > *.current.current.current,
.PdfWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > ul li,
.PdfWhite_label .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #E8E8E8;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > ul li > hr,
.PdfWhite_label .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#353535;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.PdfWhite_label .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.PdfWhite_label .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #F1F1F1;color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfWhite_label .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-image:none; background-color: #E8E8E8;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border: solid #004080 1px;
}
.PdfWhite_label .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#6F6F6F;
}
.PdfWhite_label .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #F2F2F2;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #F2F2F2;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #E8E8E8;color:#000080;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main > ul li > hr
{
border-color:#000080;
}
.PdfWhite_label .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfWhite_label .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.PdfWhite_label .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-image:none; background-color: #E8E8E8;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 6px;border: solid #004080 1px;
}
.PdfWhite_label .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#6F6F6F;
}
.PdfWhite_label .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #F2F2F2;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #F2F2F2;color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #E8E8E8;color:#000080;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second > ul li > hr
{
border-color:#000080;
}
.PdfWhite_label .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PdfWhite_label .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.PdfWhite_label .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfWhite_label .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.PdfWhite_label
{

background-color:#F5F5F5;
}
.PdfWhite_label .rnr-list
{
color: #000000;background-color: #A9A9A9;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PdfWhite_label .rnr-tab.selected
{
background-color:#0000FF;
border-top-left-radius:4px;
border-top-right-radius:4px;

}
.PdfWhite_label .rnr-tab
{
background-color:#C0C0C0;
border-top-left-radius:4px;
border-top-right-radius:4px;
border: solid #000000 1px; border-bottom-width:0;
}
.PdfWhite_label .rnr-tab.selected > a
{
color: #FFFFFF;

}
.PdfWhite_label .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label .yui-navset .yui-content
{
border: solid #0000FF 1px;border-top-width: 5px;
}
.PdfWhite_label .rnr-stepnav > a.active,
.PdfWhite_label .rnr-stepnav > a:hover:not(.active),
.PdfWhite_label .rnr-stepnav > a.active:after,
.PdfWhite_label .rnr-stepnav > a:hover:not(.active):after
{
background-image: none; background-color: #E8E8E8;

}
.PdfWhite_label .rnr-stepnav > a:not(.active),
.PdfWhite_label .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #E8E8E8;

}
.PdfWhite_label .rnr-stepnav > a:before
{
background-image: none; background: #F2F2F2;

}
.PdfWhite_label .rnr-stepnav > a.active,
.PdfWhite_label .rnr-stepnav > a:hover:not(.active)
{
color: #353535;

}
.PdfWhite_label .rnr-stepnav > a:not(.active)
{
color: #DDDDDD;

}
.PdfWhite_label .rnr-stepnav > a:before 
{
color: #353535;

}
.PdfWhite_label .rnr-stepnav > a,
 .rnr-pagewrapper .PdfWhite_label .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .rnr-stepnav > a
{
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfWhite_label  .rnr-message
{
background-color: #F1F1F1;border:none;color: #008000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #004080; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PdfWhite_label  .yui3-widget-ft
{
background-color: #E8E8E8; background-image: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #353535;
}
.PdfWhite_label  .rnr-dbelemheader
{
background-color: #004080; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PdfWhite_label  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.PdfWhite_label  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.PdfWhite_label .rnr-dashboard
{
background-color: #FFFFFF;
}
.PdfWhite_label .rnr-button.rnr-button,
.PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.PdfWhite_label .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .PdfWhite_label .rnr-button.rnr-button,
 .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 4px;padding: 3px 9px 4px;background-image: none; background-color: #E8E8E8;
border-color: #000000;color: #353535;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfWhite_label .rnr-button.rnr-button.img,
.PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.PdfWhite_label .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfWhite_label .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.PdfWhite_label .rnr-button:hover,
.PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.PdfWhite_label .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .PdfWhite_label .rnr-button:hover,
 .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button:hover
{
background-image: none; background-color: #F2F2F2;
border-color: #000000;color: #353535;

}
.PdfWhite_label .rnr-button:active,
.PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.PdfWhite_label .button.button.button.rnr-button:active,
 .rnr-pagewrapper .PdfWhite_label .rnr-button:active,
 .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button:active
{
background-image: none; background-color: #E8E8E8;
border-color: #000000;color: #353535;

}
.PdfWhite_label .rnr-button.disabled,
.PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.PdfWhite_label .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .PdfWhite_label .rnr-button.disabled,
 .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .button.button.button.rnr-button.disabled
{
background-image: none; background-color: #E8E8E8;
border-color: #000000;color: #DDDDDD;

}
.PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.PdfWhite_label .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.PdfWhite_label .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.PdfWhite_label .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button:hover
{
color: #3366FF;

}
.PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.PdfWhite_label .link.link.link.rnr-button:active,
 .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button:active
{
color: #004080;

}
.PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.PdfWhite_label .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .link.link.link.rnr-button.disabled
{
color: #000000;

}
.PdfWhite_label .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 4px;padding: 3px 9px 4px;background-image: none; background-color: #E8E8E8;
border-color: #000000;color: #353535;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PdfWhite_label .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.PdfWhite_label .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button:hover
{
background-image: none; background-color: #F2F2F2;
border-color: #000000;color: #353535;

}
.PdfWhite_label .main.main.main.rnr-button:active,
 .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button:active
{
background-image: none; background-color: #E8E8E8;
border-color: #000000;color: #353535;

}
.PdfWhite_label .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PdfWhite_label .main.main.main.rnr-button.disabled
{
background-image: none; background-color: #E8E8E8;
border-color: #000000;color: #DDDDDD;

}
