<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-menu" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_menu}
<div class="rnr-c rnr-cv rnr-c-menu">

{BEGIN loggedas_block}
<div  class="rnr-brickcontents style2 rnr-b-login_menu {$brickclass_login_menu}"><div id="login_block{$id}">
	{BEGIN loggedas_message}
	<span>记录为&nbsp;<b>{$username}</b><br><br>
	</span>
	{END loggedas_message}
	{BEGIN guestloginbutton}
	<a href="#" class="rnr-button" {$guestloginlink_attrs}>登录</a>
	{END guestloginbutton}
	{BEGIN logoutbutton}
	<a class="rnr-button" href="login.php?a=logout" {$logoutlink_attrs}>登出</a>
	{END logoutbutton}
<!-- Permissions -->
</div>
</div>{END loggedas_block}



</div>
{END container_menu}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
