<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel user add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields_atop {$brickclass_addfields_atop}"><div class="rnr-simplefields edit">
	{BEGIN user_fieldblock}
<div data-fieldname="user" class="rnr-field style1 {$fielddispclass_user}">
  <div class="rnr-label above">{BEGIN user_label}{$label user user}{END user_label}</div>
  <div class="rnr-control style3">{$user_editcontrol}</div>
</div>
{END user_fieldblock}
	{BEGIN server_fieldblock}
<div data-fieldname="server" class="rnr-field style1 {$fielddispclass_server}">
  <div class="rnr-label above">{BEGIN server_label}{$label user server}{END server_label}</div>
  <div class="rnr-control style3">{$server_editcontrol}</div>
</div>
{END server_fieldblock}
	{BEGIN passwd_fieldblock}
<div data-fieldname="passwd" class="rnr-field style1 {$fielddispclass_passwd}">
  <div class="rnr-label above">{BEGIN passwd_label}{$label user passwd}{END passwd_label}</div>
  <div class="rnr-control style3">{$passwd_editcontrol}</div>
</div>
{END passwd_fieldblock}
	{BEGIN text_fieldblock}
<div data-fieldname="text" class="rnr-field style1 {$fielddispclass_text}">
  <div class="rnr-label above">{BEGIN text_label}{$label user text}{END text_label}</div>
  <div class="rnr-control style3">{$text_editcontrol}</div>
</div>
{END text_fieldblock}
</div>
</div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>保存</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">重新设置</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">取消</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">返回一览表</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">返回选单目录</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
